.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  // background-color: rgb(245, 245, 245);
  background-color: hsl(var(--background));
  header {
    z-index: 88;
    // border-bottom: 1px solid rgb(245, 245, 245, 0.16);;
    // display: flex;
    // justify-content: flex-end;
    // padding-top: 10px;
    // padding-right: 10px;
    // padding-bottom: 10px;
    // background-color: rgba(9, 17, 31, 0.06);
    // backdrop-filter: blur(20px);
    background-color: none;
  }
  main {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.btm-nav {
  background: none;
  backdrop-filter: blur(40px);
}
.btm-nav > *:where(.active) {
  background: none;
}

.tabs-boxed {
  background: none;
  backdrop-filter: blur(20px);

}

.card {
  border-radius: 12px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
//   background: rgb(19, 19, 19);
// background-color: var(--rk-colors-connectButtonBackground);
    // z-index: -1;
  // filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 12px 8px 8px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  position: relative;
//   backdrop-filter: blur(50px);;
  &:before {
    // content: " ";
    // display: flex;
    // position: absolute;
    // inset: 0px;
    // transform: scale(1.1);
    // filter: blur(50px);
    // background-color: rgba(252, 114, 255, 0.075);
    z-index: -2;
  }
}

.border-b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.subtitle {
  color: #666;
  font-size: 14px;
}
.number {
    font-size: 12px;
  }
